*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body{
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}
.footer-brand-logo img {
    max-width: 200px;
}
.footer-container{
    background-color: 	#1166b6e2;
    max-width: 100%;
    padding-top: 1rem;
}
.footer{
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    gap: 5rem;
    padding-left: 8rem;
    padding-right: 9rem;
    padding-bottom: 6rem;
}
.Site{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 12px;
}
ul{
    list-style-type: none;

}

.footer-address{
    display: flex;
    justify-content: space-evenly;
  padding-bottom: 5rem;
}
.news-letter{
    margin-top: 5rem;
}
.news-letter input{
    padding: 10px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid white;

}
.news-letter input::placeholder {
    /* margin-top: 5rem; */
    color: white;
}

.input-wrapper {
    display: flex;
    align-items: center; /* Vertically center the contents */
}

.input-wrapper input[type="email"] {
    .input-wrapper {
        display: flex;
        align-items: center;
    }
    
    .input-wrapper input[type="email"] {
        flex-grow: 1;
    }
    
   
    
}

.underline{
    height: 1px;
    width: 10.5rem;
    background-color: white;
}
.div-under{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width: 600px) {
    .footer{
        justify-content: center;
        align-items: center;
grid-template-columns: auto;
margin-left: 20px;

    }
    .Site{
        
    }
   
  }